<!--
<nav class = "navbar navbar-expand my-4 rounded-3 bg-primary col-12">
  <app-navbar></app-navbar>
</nav>

<main class ="	--bs-info-bg-subtle container positin-relative ">
  <div class=" row position-absolute top-50 start-50 translate-middle-x">
    <form class="col-6 d-flex flex-colum text-center"></form>
    <img class=" col-6 img-fluid  p-3 mb-5 bg-white  img-thumbnail " src="https://img.freepik.com/premium-vector/full-stack-developer-working-computer-it-professional-programmer-coding-website-creation-proccess-computer-technology_277904-5495.jpg?w=2000">


  </div>
</main>

  <div class=" container bg-info rounded-2 d-flex my-4 text-center text-primary ">
    <app-formulario> </app-formulario>

    <app-modal></app-modal> -->



  <!--Continua exercicio 4,5,6-->


  <!-- <div class="container mt-3">
    <div class="row">
      <item-card class="col-3" *ngFor="let character of characters" [character] ="character"/>
    </div>
  </div> -->

<!-- Exercicio 7
<div class="container mt-3">
  <div class="row">
    <register-user-form class="col-6"/>
  </div>
</div> -->

<!--Exercicio 8-->

<div classe="container m-t3">
  <div class="row">
    <search-input (searchInputEvent)="logInput($event)" class="col-6"/>
  </div>
</div>











