  <!--Em um projeto angular, crie um novo template para um formulário de registro de matérias usando classes de estilização e estrutura bootstrap, o visual e a estrutura usando classes do bootstrap será avaliado, portanto caprichem no design ^-^.

O formulário deverá ter os seguintes campos inputs: “nome”, “carga horária de horas aula” e “escola”. Também no formulário deverá ter um campo “Professor(a)” que será um select com 4 opções, Otávio, Carla, Leandro e Cláudia, além disso dois radiobutton verificando se a matéria é opcional ou não.-->

<div class="m2-2">
  <br>
  <h1 class=" test-start, text-light bg-primary roudend-4 p-6  shadow-lg p-3 mb-5 bg-body-tertiary rounded">Formulário de Cadastro </h1>
</div>

<form action="" class="bg-light p-3 rounded-3 col-12 my-4" row p-2>
    <div class ="mb-2">

        <label for="name" class="form-label">Nome</label>

        <input type="text" name="name" id="name"class="form-control" placeholder=>
     </div>


    <div class ="mb-2">
       <label for="nome" class="form-label">Carga horária</label>
       <input type="number" class="form-control"  placeholder=>
    </div>

    <div class ="mb-2">

      <label for="nome" class="form-label">Escola</label>
      <input type="text" class="form-control"  placeholder=>
    </div>

    <div class= "mb-2">

      <select class="form-select my-4" aria-label="Default select example">
        <option selected>Selecione o professor</option>
        <option value="1">Otávio </option>
        <option value="2">Carla</option>
        <option value="3">Leandro</option>
        <option value="3">Cláudia</option>
      </select>

    </div>

    <div>

      <div class="form-check col-6 text start">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          A matéria é opcional
        </label>
      </div>
      <div class="form-check col-8 text-start">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
         A matéria não é opcional
        </label>
      </div>
    </div>


<!--No mesmo projeto angular crie um botão de enviar formulário que ao clicar carregue um modal do bootstrap com a mensagem “Formulário enviado com sucesso” e um botão para fechar o modal.

OBS: lembrar de importar o script js do bootstrap no arquivo angular.json-->
<br>

<div>
  <!-- Button trigger modal -->
    <button class=" p-4 align-start" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Enviar Formulário
  </button>

